/**
 * @name         Furry Emoji Picker
 * @description  Changes emoji picker emoji to be Fir emotes
  * @author       まんどりん
 * @version      1.0
 */

.sprite-2lxwfc {
	background-image: url(https://github.com/mandorinn/BetterDiscord-Stuff/blob/main/furry%20emoji%20picker%20rounded%20full2.png?raw=true);
    	background-position: 60%;
   	background-repeat: repeat;
    	width: 20px;
   	height: 20px;
   	display: block;
}

